:root {
  --background: #173B45;
  --accent: #F8EDED;
}

* {
  margin: 0;
  padding: 0;
  color: var(--accent);
  font-family: 'Poppins', 'Courier New', Courier, monospace;
  background-color: var(--background);
}

.nav {
  background-color: var(--background);
  padding: .5rem;
  height: 12vh;
}

.logo {
  float: left;
  font-weight: 800;
}

.nar-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
  font-size: 1.5rem;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a {
  text-decoration: none;
  display: flex;
}

a:hover {
  cursor: pointer;
}

h1 {
  font-weight: 400;
  font-size: 4.5rem;
}

h4 {
  font-size: 1.5rem;
  font-weight: 400;
}

#hero {
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.blog-pieces {
  display: flex;
  flex-direction: column;
}

.blog-piece {
  display: flex;
  margin: 1rem;
}

.blog-piece h4 {
  margin-right: .5rem;
}

.title {
  text-decoration: underline;
  font-weight: 600;
}
